<html>
	<head>
		<title>{{ page.title }} - Riivolution</title>
		<link rel="stylesheet" href="/wiki/css1.css" />
		<link rel="stylesheet" href="/wiki/css2.css" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
	</head>
	<body class="mediawiki ltr sitedir-ltr ns-0 ns-subject skin-modern action-view">
		<div id="mw_header"><h1 id="firstHeading" lang="en"><span dir="auto">{{ page.title }} :: Riivolution Archive</span></h1></div>
		<div id="mw_main">
			<div id="mw_contentwrapper">
				<div id="mw_content" role="main"><div id="mw_contentholder" class="mw-body">
					{{ content }}
				</div></div>
			</div>
			<div id="mw_portlets">
				<h2>Navigation menu</h2>
				<div class="generated-sidebar portlet" id="p-navigation" role="navigation">
					<h3>Navigation</h3>
					<div class='pBody'>
					<ul>
						<li id="n-mainpage-description"><a href="/wiki/Main_Page" title="Visit the main page [z]" accesskey="z">Main page</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>

